# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#Compass.app files
.sass-cache
*.rb

# Probably anything zipped is only a container of debugs
# so ignore all zipped files in colibrì cms.
*.zip
*.7z

# Colibrì CMS private files
*.htaccess
source/sitemap*.xml
source/database/encryption*.php
source/database/mbcsqlite3*.db
source/plugin/list.json
source/plugin/Colibri/Comment/scss/bourbon/*
