.sicon{
	display:inline-block;
	*display:inline;
	zoom:1;
	width:22px;
	height:22px;
	/*(optional)*/
	/*padding:8px;*/
	cursor:pointer;
}

.sicon:hover{
	/*(optional)*/
	/*background-color:#eee;*/
}

.sicon>.speed{background-position:572px 396px}
.sicon>.world{background-position:530px 396px}
.sicon>.nsew{background-position:489px 396px}
.sicon>.sun{background-position:447px 396px}
.sicon>.fuel{background-position:406px 396px}
.sicon>.geoloc{background-position:364px 396px}
.sicon>.off{background-position:323px 396px}
.sicon>.stop{background-position:281px 396px}
.sicon>.search{background-position:240px 396px}
.sicon>.marker{background-position:198px 396px}
.sicon>.battery-0{background-position:157px 396px}
.sicon>.battery-50{background-position:115px 396px}
.sicon>.battery-100{background-position:74px 396px}
.sicon>.battery-zap{background-position:32px 396px}
.sicon>.alarm{background-position:572px 362px}
.sicon>.shuttle{background-position:530px 362px}
.sicon>.bicycle{background-position:489px 362px}
.sicon>.vespa{background-position:447px 362px}
.sicon>.airplane{background-position:406px 362px}
.sicon>.ship{background-position:364px 362px}
.sicon>.train{background-position:323px 362px}
.sicon>.metro{background-position:281px 362px}
.sicon>.bus{background-position:240px 362px}
.sicon>.bus-2{background-position:198px 362px}
.sicon>.car{background-position:157px 362px}
.sicon>.car-2{background-position:115px 362px}
.sicon>.watch{background-position:74px 362px}
.sicon>.trash{background-position:32px 362px}
.sicon>.options{background-position:572px 329px}
.sicon>.options-2{background-position:530px 329px}
.sicon>.options-3{background-position:489px 329px}
.sicon>.play{background-position:447px 329px}
.sicon>.gallery{background-position:406px 329px}
.sicon>.upload{background-position:364px 329px}
.sicon>.download{background-position:323px 329px}
.sicon>.cloud{background-position:281px 329px}
.sicon>.unlock{background-position:240px 329px}
.sicon>.unlock-2{background-position:198px 329px}
.sicon>.lock{background-position:157px 329px}
.sicon>.erase{background-position:115px 329px}
.sicon>.medkit{background-position:74px 329px}
.sicon>.weightlift{background-position:32px 329px}
.sicon>.like{background-position:572px 296px}
.sicon>.dislike{background-position:530px 296px}
.sicon>.share{background-position:489px 296px}
.sicon>.fb{background-position:447px 296px}
.sicon>.tweet{background-position:406px 296px}
.sicon>.basketball{background-position:364px 296px}
.sicon>.istagram{background-position:323px 296px}
.sicon>.istagram-2{background-position:281px 296px}
.sicon>.photo{background-position:240px 296px}
.sicon>.video{background-position:198px 296px}
.sicon>.video-camera{background-position:157px 296px}
.sicon>.tv{background-position:115px 296px}
.sicon>.tab{background-position:74px 296px}
.sicon>.eye{background-position:32px 296px}
.sicon>.home{background-position:572px 262px}
.sicon>.weight{background-position:530px 262px}
.sicon>.shopper{background-position:489px 262px}
.sicon>.clothesbasket{background-position:447px 262px}
.sicon>.label-less{background-position:406px 262px}
.sicon>.label-more{background-position:364px 262px}
.sicon>.label{background-position:323px 262px}
.sicon>.label-2{background-position:281px 262px}
.sicon>.label-3{background-position:240px 262px}
.sicon>.flickr{background-position:198px 262px}
.sicon>.flickr-2{background-position:157px 262px}
.sicon>.info{background-position:115px 262px}
.sicon>.flag{background-position:74px 262px}
.sicon>.diamond{background-position:32px 262px}
.sicon>.cuffie{background-position:572px 229px}
.sicon>.audio-0{background-position:530px 229px}
.sicon>.audio-1{background-position:489px 229px}
.sicon>.audio-2{background-position:447px 229px}
.sicon>.audio-3{background-position:406px 229px}
.sicon>.speaker{background-position:364px 229px}
.sicon>.speaker-2{background-position:323px 229px}
.sicon>.sim{background-position:281px 229px}
.sicon>.hair{background-position:240px 229px}
.sicon>.chat{background-position:198px 229px}
.sicon>.chat-2{background-position:157px 229px}
.sicon>.chat-3{background-position:115px 229px}
.sicon>.chat-4{background-position:74px 229px}
.sicon>.hearth{background-position:32px 229px}
.sicon>.glass{background-position:572px 195px}
.sicon>.glass-2{background-position:530px 195px}
.sicon>.glass-3{background-position:489px 195px}
.sicon>.glass-4{background-position:447px 195px}
.sicon>.glass-5{background-position:406px 195px}
.sicon>.beer{background-position:364px 195px}
.sicon>.beer-2{background-position:323px 195px}
.sicon>.coffee{background-position:281px 195px}
.sicon>.american-coffee{background-position:240px 195px}
.sicon>.american-coffee-2{background-position:198px 195px}
.sicon>.icecream{background-position:157px 195px}
.sicon>.icecream-2{background-position:115px 195px}
.sicon>.icecream-3{background-position:74px 195px}
.sicon>.chicken{background-position:32px 195px}
.sicon>.index{background-position:572px 162px}
.sicon>.v{background-position:530px 162px}
.sicon>.x{background-position:489px 162px}
.sicon>.add{background-position:447px 162px}
.sicon>.less{background-position:406px 162px}
.sicon>.star{background-position:364px 162px}
.sicon>.reload{background-position:323px 162px}
.sicon>.arrow-d{background-position:281px 162px}
.sicon>.arrow-u{background-position:240px 162px}
.sicon>.arrow-r{background-position:198px 162px}
.sicon>.arrow-l{background-position:157px 162px}
.sicon>.check-ok{background-position:115px 162px}
.sicon>.check-ok-2{background-position:74px 162px}
.sicon>.problem{background-position:32px 162px}
.sicon>.key{background-position:572px 129px}
.sicon>.list-1{background-position:530px 129px}
.sicon>.list-2{background-position:489px 129px}
.sicon>.list-3{background-position:447px 129px}
.sicon>.list-4{background-position:406px 129px}
.sicon>.list-5{background-position:364px 129px}
.sicon>.expand{background-position:323px 129px}
.sicon>.selection{background-position:281px 129px}
.sicon>.calendar{background-position:240px 129px}
.sicon>.calendar-2{background-position:198px 129px}
.sicon>.people{background-position:157px 129px}
.sicon>.person{background-position:115px 129px}
.sicon>.man{background-position:73px 129px}
.sicon>.girl{background-position:31px 129px}
.sicon>.erase-2{background-position:572px 95px}
.sicon>.pen{background-position:530px 95px}
.sicon>.edit{background-position:489px 95px}
.sicon>.pencil{background-position:447px 95px}
.sicon>.necktie{background-position:406px 95px}
.sicon>.necktie-2{background-position:364px 95px}
.sicon>.bag{background-position:323px 95px}
.sicon>.floppy{background-position:281px 95px}
.sicon>.crop{background-position:240px 95px}
.sicon>.mail{background-position:198px 95px}
.sicon>.pec{background-position:157px 95px}
.sicon>.schedule{background-position:115px 95px}
.sicon>.attachment{background-position:74px 95px}
.sicon>.attachment-2{background-position:32px 95px}
.sicon>.notes{background-position:572px 62px}
.sicon>.money{background-position:530px 62px}
.sicon>.docs{background-position:489px 62px}
.sicon>.id{background-position:447px 62px}
.sicon>.docs-2{background-position:406px 62px}
.sicon>.calc{background-position:364px 62px}
.sicon>.checkboard{background-position:322px 62px}
.sicon>.checkboard-ok{background-position:281px 62px}
.sicon>.file{background-position:240px 62px}
.sicon>.file-add{background-position:198px 62px}
.sicon>.file-remove{background-position:157px 62px}
.sicon>.folder{background-position:115px 62px}
.sicon>.folder-add{background-position:74px 62px}
.sicon>.folder-remove{background-position:32px 62px}
.sicon>.statistic{background-position:572px 28px}
.sicon>.statistic-2{background-position:530px 28px}
.sicon>.increase{background-position:489px 28px}
.sicon>.decrease{background-position:447px 28px}
.sicon>.mouse{background-position:406px 28px}
.sicon>.pc{background-position:364px 28px}
.sicon>.tablets{background-position:323px 28px}
.sicon>.tablets-2{background-position:281px 28px}
.sicon>.tablet-portrait{background-position:240px 28px}
.sicon>.tablet-landscape{background-position:198px 28px}
.sicon>.cellphones{background-position:157px 28px}
.sicon>.cellphones-2{background-position:115px 28px}
.sicon>.cellphone-portrait{background-position:74px 28px}
.sicon>.cellphone-landscape{background-position:32px 28px}