*{
	padding:0;
	margin:0;
	vertical-align: baseline;
}
body{
	font:0.96em 'open sans',helvetica,arial,sans-serif;
	line-height:1.5;
}
a{
	text-decoration: none;
}
img,iframe{
	border:none;
}
input,textarea,select{
	font:inherit;
}


@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot?ldftgn');
	src: url('fonts/icomoon.eot?ldftgn#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?ldftgn') format('truetype'),
		url('fonts/icomoon.woff?ldftgn') format('woff'),
		url('fonts/icomoon.svg?ldftgn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="moon-"], [class*=" moon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.moon-x:before {
	content: "\e900";
}
.moon-v:before {
	content: "\e901";
}
.moon-gplus:before {
	content: "\e902";
}
.moon-fb:before {
	content: "\e903";
}
.moon-twitter:before {
	content: "\e904";
}
.moon-yt:before {
	content: "\e905";
}
.moon-in:before {
	content: "\e906";
}



#colibrì{
	position:relative;
	width:100%;
	background:url(hummingbird-1366.jpg) no-repeat center top;
	background-size:cover;
}
#colibrì .noise{
	background:url(../rete.png);
	padding-bottom:50%;
	padding-bottom:100vh;
}

#colibrì .titles{
	position:absolute;
	top:0;left:0;right:0;bottom:0;
	width:100%;
	height:100%;
}
#colibrì .titles-table{
	display:table;
	border-collapse:collapse;
	width:100%;
	height:100%;
	overflow:hidden;
}
#colibrì .titles-cell{
	display:table-cell;
	width:100%;
	height:100%;
	vertical-align:middle;
	text-align: left;
	overflow:auto;
}
#colibrì .titles-position{
	display:inline-block;
	*display:inline;
	zoom:1;
	width:60%;
	padding-left:20%;
}
#colibrì .titles h1{
	color: #fff;
	font-size: 3.5em;
	font-weight: 300;
}
#colibrì .titles h2{
	color: #fff;
	font-size: 1.5em;
	font-weight: 400;
}

#menu{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	padding-top:10px;
}
#menu .logo{
	display:inline-block;
	*display:inline;
	zoom:1;
	width:50px;
	height:50px;
	border:1px solid #fff;
	margin-left:15px;
	-webkit-border-radius:32px;
	border-radius:50%;
	background:url(../colibriw.png) no-repeat center;
	transition:background 0.2s;
}
#menu .logo:hover{
	background-color:rgba(0,0,0,0.25);
}
#menu a{
	position:relative;
	vertical-align:middle;
	display:inline-block;
	*display:inline;
	zoom:1;
	color:#fff;
	font-weight:bold;
	font-size:0.75em;
	text-transform: uppercase;
	margin:5px 0 5px 25px;
}
#menu a.item:hover::before{
	content:" ";
	position:absolute;
	top:100%;
	width:50%;
	max-width:32px;
	left:0;
	right:0;
	margin:5px auto 0;
	height:3px;
	background:#fff;
}
#menu-mobile{
	display:none;
}


/* contenuto */
.center{
	text-align:center;
}
._max420{
	max-width:420px;
}

#wrapper{
	background:#eee;
}
#wrapper .content{
	padding:10px;
	max-width:1024px;
	margin:0 auto;
}
#wrapper ._withbottom{
	padding-bottom:50px;
}
h3{
	color: #333;
	font-size: 3.5em;
	font-weight: 300;
	text-align: center;
	padding:40px 10px 80px;
}
input.hidden-input{
	position:absolute;
	visibility:hidden;
	width:1px;
}
label{
	cursor:pointer;
}
.choicer{
	line-height:0;
}
.choicer h4{
	text-align:center;
	font-size:1em;
	font-weight:700;
	color:#333;
	padding:15px;
	text-transform:uppercase;
}
ul.choice{
	line-height:1.5;
	display:inline-block;
	*display:inline;
	zoom:1;
	list-style:none;
	vertical-align:top;
	text-align:left;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
/* be careful! do not leave white spaces between choices!!! */
ul.choice._x4{
	width:23%;
	margin:0 1%;/* 4 blocchi => 8*margin. 4*a + 8*b = 100. se b=1, a = (100-8)/4 ~= 23 */
}
ul.choice._x3{
	width:31.3%;
	margin:0 1%;/* 3 blocchi => 9*margin. 3*a + 6*b = 100. se b=1, a = (100-6)/3 ~= 31 */
}
ul.choice._x2{
	width:47%;
	margin:0 1.5%;/* 2 blocchi => 4*margin. 2*a + 4*b = 100. se b=1.5, a = (100-6)/2 ~= 47 */
}
ul.choice._x1{
	width:90%;
	margin:0 5%;
}
.button{
	display: inline-block;
	*display:inline;
	zoom:1;
	border:none;
	padding: 12px 32px;
	background: rgb(34, 128, 68) none repeat scroll 0% 0%;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-border-radius:4px;
	border-radius: 4px;
	margin: 18px 0px;
	cursor:pointer;
}
.button:hover{
	background:rgb(9, 152, 61);
}
.nobutton{
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 7px 10px;
	color: #666;
	text-decoration: none;
	text-transform: uppercase !important;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	cursor: pointer;
	border: 1px solid #888;
	font-size: 0.8em;
}
.nobutton:hover{
	background:#eee;
	color:#444;
	border-color:#666;
}
.nobutton::before{
	padding-right:8px;
}
.nb-x::before{
	content: "\e900";
	font-family: 'icomoon' !important;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}
#logo-square,
#logo-circle{
	display: inline-block;
	*display:inline;
	zoom:1;
	width:140px;
	height:140px;
	background:#2d2d2d url(../logo.png) no-repeat center;
	margin:8px;
	border:1px solid #888;
	box-shadow:0 0 5px #bbb;
}
#logo-circle{
	-webkit-border-radius:100px;
	border-radius:50%;
}



/* map */
#cell{
	position:absolute;
	border:1px solid transparent;
	width:90%;
	max-width:320px;
	height:90%;
	max-height:480px;
	top:0; left:0; right:0; bottom:0;
	margin:auto;
}
#map:hover #cell{
	border:1px dashed #ccc;
}
#cell::before{
	content:"Safe Zone";
	display:none;
	background:rgba(0,0,0,0.33);
	color:#fff;
	text-align:center;
	padding:10px 5px;
	font-variant:small-caps;
}
#map:hover #cell::before{
	display:block;
}


.photocourtesy{
	font-size: 0.6em;
	color: rgb(0, 74, 16);
	padding:2px 5px;
}
.photocourtesy i,
.photocourtesy a{
	color: rgb(0, 74, 16);
	font-weight:bold;
	font-style:italic;
}



/* youtube videos */
.dark{
	background:#2d2d2d;
	color:#eee;
}
.dark h3,
.dark h4{
	color:#aaa;
}
.ytlogo::before{
	content:" ";
	display:inline-block;
	width:55px;/* 45 + pad*/
	height:32px;
	background:url(yt.png) no-repeat left center;
}
#youtubes .choice{
	padding-bottom:30px;
}
#youtubes .image{
	height:91px;
	width:122px;
	margin:0 auto;
	background:#222 no-repeat center;
	background-size:cover;
}
#youtubes .hasvideo .image{
	position:relative;
}
#youtubes .hasvideo .image::after{
	content:"\e905";
	position:absolute;
	/*top:0;
	right:0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 20px 20px 0;
	border-color: transparent rgb(34, 128, 68) transparent transparent;*/
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	text-align:center;
	font-size: 30px;
	line-height: 91px;
	color: #228044;
}
/* editor video */
#yt-bkg{
	position:fixed;
	top:0;left:0;right:0;bottom:0;
	background:#000;
	background:rgba(0,0,0,0.75);
	visibility:hidden;
	opacity:0;
	transform:scale(1.1);
	transform-origin:50% 50%;
	transition:opacity 0.3s, visibility 0.3s, transform 0.3s;
	z-index:1000;
}
#yt-bkg.active{
	visibility:visible;
	opacity:1;
	transform:scale(1);
	transition:opacity 0.3s, transform 0.3s;
}
#form-yt{
	position:absolute;
	top:0;left:0;right:0;bottom:0;
	width:90%;
	height:90%;
	max-width:800px;
	max-height:500px;
	margin:auto;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	background:#fff;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding:16px;
	overflow-y:auto;
}
#form-yt h4{
	text-align:center;
	font-size:1em;
	font-weight:700;
	color:#333;
	padding:15px;
	text-transform:uppercase;
}
#form-yt textarea{
	display:block;
	border:1px solid #ccc;
	font:inherit;
	width:100%;
	resize:vertical;
	margin:5px 0;
	padding:1px 8px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
#form-yt td, #form-yt th{
	text-align:left;
	font-weight:normal;
	padding:0 8px;
}
#form-yt th{
	color:#666;
}
#form-yt td{
	font-style:italic;
}
#form-yt .numbers input{
	border:1px solid #ccc;
	width:48px;
	padding:1px 8px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}



/* follow */
.follows a{
	font-size: 1.5em;
	padding:3px 6px;
	color:#bbb;
	transition:color 150ms;
}
.follows h4{
	padding: 40px 0;
	position:relative;
}
.follows h4:before{
	display: block;
	content: " ";
	position: absolute;
	height: 1px;
	background: #111;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 300px;
}
#ico-gp:hover{
	color:#ff3030;
}
#ico-fb:hover{
	color:#306dff;
}
#ico-in:hover{
	color:#3099ff;
}


@media only screen and (min-width:1367px){
	#colibrì{
		background-image:url(hummingbird-2048.jpg);
	}
}


/* default: hummingbird-1366.jpg */


@media only screen and (max-width:1024px){
	#colibrì{
		background-image:url(hummingbird-1024.jpg);
	}
	#colibrì .noise{
		padding-bottom:512px;
		padding-bottom:100vh;
	}
	#colibrì .titles h1{
		font-size: 3em;
		padding-bottom:8px;
	}
	#colibrì .titles h2{
		font-size: 1.25em;
	}
}


@media only screen and (max-width:720px){
	#colibrì{
		background-image:url(hummingbird-720.jpg);
	}
	/* hide normal menu */
	#menu{
		display:none;
	}
	#menu-mobile{
		display:block;
	}
	/* menu mobile */
	#open-menu{
		position:absolute;
		top:28px;
		right:20px;
		height:2px;
		width:24px;
		background:#fff;
		transition:background 0.1s;
		z-index:1000;
	}
	#open-menu::after,
	#open-menu::before{
		content:" ";
		background:#fff;
		position:absolute;
		left:0;
		height:2px;
		width:24px;
		transform-origin:50% 50%;
		transition:transform 0.2s;
	}
	#open-menu::after{
		bottom:-8px;
	}
	#open-menu::before{
		top:-8px;
	}
	#open-menu a{
		position:absolute;
		display:block;
		height:22px;
		width:24px;
		top:-10px;
		cursor:pointer;
	}
	#menu-mobile{
		visibility:hidden;
		position:fixed;
		top:0;
		right:0;
		overflow:auto;
		width:100%;
		height:100%;
		background:#1C1D23;
		opacity: 0;
		transform:scale(1.1);
		transform-origin:50% 50%;
		transition:opacity 0.3s, visibility 0.3s, transform 0.3s;
		z-index:1000;
	}
	#menu-mobile .content{
		/* ? */
	}
	#menu-mobile .content a{
		display:block;
		font-size:1em;
		text-transform:uppercase;
		text-align:center;
		padding:16px;
		color:#fff;
	}
	#menu-mobile .content a.logo{
		width:60px;
		height:60px;
		padding: 0;
		margin:40px auto 25px;
		-webkit-border-radius:32px;
		border-radius:50%;
		background:url(../colibriw.png) no-repeat center;
		border:1px solid #fff;
	}
	/* menu opened */
	#menu-mobile.active{
		visibility:visible;
		opacity:1;
		transform:scale(1);
		transition:opacity 0.3s, transform 0.3s;
	}
	#open-menu.active{
		position:fixed;
		background:transparent;
	}
	#open-menu.active::after{
		transform:translate(0px,-8px) rotateZ(45deg);
	}
	#open-menu.active::before{
		transform:translate(0px,8px) rotateZ(-45deg);
	}
	ul.choice._x4{
		width:47%;
		margin:0 1.5%;
	}
	ul.choice._x3{
		width:90%;
		max-width:420px;
		margin:0 5%;
	}
	#form-yt{
		max-height:none;
	}
}


@media only screen and (max-width:512px){
	#colibrì{
		background-image:url(hummingbird-512.jpg);
	}
	#colibrì .titles-cell{
		text-align:center;
		/*vertical-align: bottom;
		padding-bottom: 20px;*/
	}
	#colibrì .titles-position{
		width:90%;
		padding:0;
		margin:0 5%;
	}
	#colibrì .titles h1{
		font-size: 2.5em;
		padding-bottom:8px;
	}
	#colibrì .titles h2{
		font-size: 1em;
	}
	ul.choice._x4,
	ul.choice._x2{
		width:90%;
		margin:0 5%;
	}
}


@media only screen and (max-width:320px){
	#colibrì{
		background-image:url(hummingbird-320.jpg);
	}
	#colibrì .noise{
		padding-bottom:480px;
		padding-bottom:100vh;
	}
}